<h1> Edit Visit </h1>

<%= simple_form_for [@pet, @visit] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, :autofocus => true %>
    <%= f.input :description %>
    <%= f.input :appointment %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Create Visit" %>
  </div>
<% end %>