<h1> New Visit </h1>

<%= simple_form_for [@pet, @visit] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, :autofocus => true %>
    <%= f.input :description %>
    <%= f.input :appointment, as: :string, input_html: { class: 'datepicker' } %>
    <%= f.input :appointment, as: :string, input_html: { class: 'timepicker' } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Create Visit" %>
  </div>
<% end %>

<% content_for :extra_footer do %>

<script type="text/javascript">
$(function(){
  $('.datepicker').pickadate();
  $('.timepicker').pickatime();
})
</script>

<% end %>
