<h1> <%= "#{@visit.name}" %> </h1>

<p> <%= "Appointment at: #{ @visit.appointment.to_formatted_s(:long_ordinal) }" %></p>

<p> <%= "Description: #{@visit.description}" %></p>

<p>
  <% if @visit.pet_records.url.nil? %>
    No Records Exist
  <% else %>
    <%= link_to 'View Records', pet_visit_download_file_path(@visit.pet, @visit) %>
  <% end %>
  <%= link_to 'Add Records', edit_pet_visit_path(@visit.pet, @visit) %>
</p>



