  <h1> Your Pets </h1>

  <table id="pets">
    <thead>
      <tr>
        <th>Name</th>
        <th>Visits</th>
        <th>Add a Visit</th>
      </tr>
    </thead>
    <tbody>
      <% @pets.each do |pet| %>
        <tr>
          <td><%= pet.name %></td>
          <td><%= link_to 'Visits', pet_visits_path(pet) %>
          <td><%= link_to 'Add a Visit', new_pet_visit_path(pet) %>
          <td><%= link_to 'Remove Pet', pet, method: :delete, data: { confirm: 'Are you sure?' } %></td>

        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'Add a new Pet!', new_pet_path %>



  <h1> Upcoming Appointments </h1>
  <table id="upcoming">
    <thead>
      <tr>
        <th>Date</th>
        <th>Visit</th>
        <th>Pet Name</th>
      </tr>
    </thead>
    <tbody>
      <% @upcomingvisits.each do |visit| %>
        <tr>
          <td><%= visit.appointment.to_formatted_s(:long_ordinal) %></td>
          <td><%= link_to "#{visit.name}", pet_visit_path(visit.pet, visit) %></td>
          <td><%= visit.pet.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>


